/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  */
@import "bootstrap";

.row {
	margin-left: 0px ;
	margin-right: 0px ;
}

.aside {
	margin-top: 1%;
	width:15%;
	background: #26d0ce;  /* fallback for old browsers */
	border-top-right-radius : 5px;
}

.header{
	background: #2eb4cc;
	height: 150px;
}

.footer {
	height: 50px;
	width: 100%;
	border: 1px solid black;
}

img {
	max-width:100%;
	max-height:100%;
}