<h1>Homepage</h1>

<p>Pancasila

Kita indonesia.
Kita lahir dan mati di sini
Makan dan minum di sini
Kita terluka bersama
Dan berjuang bersama
Perbedaan ras suku dan agama
Membuat kita berwarna
Walau sering memicu sengketa
Ingat kita indonesia
Bersama kita kuat dan merdeka
Injak semua kata perbedaan
Kita sama tak ada yang beda
Walau dari wajah dan rupa kita berbeda.
Tapi darah kita indonesia
..pancasila menyatukan kita..
..indonesia lebih berwarna..
..satu terluka semua sama..
..kita indonesia..

Hari Lahir Pancasila

Kembali…
Ibu kota berduka
Apakah sebuah pertanda
Atas kemunafikan yang ada

Akankah…
Tersadar hati mereka
Cukuplah kegaduhan yang sudah ada
Jangan menambah lagi keruh suasana

Lihatlah… oh pancasila
Sang pendusta semakin membusungkan dada
Dengan skenario yang telah dia cipta
Sementara sang jelata berteriak sejuta tanya
Oleh ulah mereka yang haus akan tahta

Begitu Sakit,
Ibukota tempat hari lahir pancasila
terkoyak dan menangis
karena anaknya.

Mengenang Hari Lahir Pancasila

Satu Juni
Sembilan belas empat Lima
Peristiwa bersejarah telah terjadi
Di hadapan peserta sidang
Dokuritsu Zyunbi Tyoosakai
BPUPKI

Seorang putra bangsa Indonesia
Menyampaikan pidatonya
Tentang kebangsaan, kemerdekaan
Dan tentang dasar negara

Panjang lebar disampaikannya
Bahwa kemerdekaan sebuah bangsa
Adalah sebuah jembatan

Jembatan emas untuk menuju ke seberang sana
sebuah tempat dan keadaan yang harus dicapai
oleh bangsa Indonesia

Disampaikannya pula bahwa dasar negara Indonesia ada lima
Satu
Kebangsaan Indonesia
Dua
Internasionalisme atau kemanusiaan
Tiga
Mufakat atau demokrasi
Empat
Kesejahteraan Sosial
Dan Lima
Prinsip Ketuhanan

Kelima prinsip dasar itulah cikal bakal Pancasila
Dan sang penggagasnya adalah Sukarno

Kesaktian Hari Lahir Pancasila

Pancasila digagas secara mendalam
oleh Bung Karno

Disampaikan dengan pidato
yang menggelegar
dalam sidang BPUPKI
pada 1 Juni 1945

Pidato itulah cikal bakal
Pancasila yang sakti

Pancasila sakti
karena diambil dari
akar budaya dan nilai-nilai
yang ada di bumi nusantara

Bung Karno
sang pemimpin besar revolusi
dengan rasa cintanya terhadap
bangsa Indonesia

merumuskan semua itu
hingga menjadi Pancasila
yang sakti

Pancasila sakti
karena lima sila yang terkandung di dalamnya
terdiri dari nilai-nilai luhur
yang menjaga harkat dan martabat
serta menjunjung tinggi
kemanusiaan seluruh
manusia Indonesia

dan Pancasila sakti
bukan karena keganasannya
memaksakan kehendak kepada orang lain

CAHAYA SANG GARUDA

Tiga setengah abad bangsa kita di jajah
Tahun 1511 bangsa portugis merebut malaka
Dan di saat itulah awal buram nya sejarah bangsa

Kini kebodohan mulai merata
Masyarakat bekerja dengan cara paksa
Tak ada lagi yang memikirkan budaya
Yang ada hanya pikiran hidup sejahtera

Namun saat 1 Juni datang ia membawa garuda
Berkalungkan perisai dengan lima perkara
Mencengkram pita bertuliskan bhineka tunggal ika
Membawa harapan dan cita cita
Menyatukan bangsa walau berbeda beda
Mengusir penjajah dari tanah indonesia
Membentuk negara dan merdeka
Hingga bangsa indonesia hidup sejahtera.

Puisi ini ku tulis untuk memperingati hari lahir pancasila 1 Juni 2016.
Semoga bangsa Indonesia tak lupa akan dasar negara.
Selalu teringat dan di simpan di dalam jiwa.

Semangat Pancasila

Profil Indonesia selalu ku gaungkan
Akan sejarah agung tentangmu
Hari jadi Pancasila
Pedoman peradaban hidup berbangsa…Indonesia

Ketuhananmu tetap Esa
Kemanusianmu tetap terbela
Persatuanmu tetap terjaga
Rakyat-Rakyatmu tetap setia
Dan keadilanmu selalu merata

…selalu hidup!!!
Jiwa patriot di dada kami
Dan Pancasila…
Tetap sebagai naungan Bhineka Tunggal Ika
Satu nusa, satu bangsa, satu bahasa…Indonesia
Dalam hari jadi Pancasila
Kobarkan semangat, maju Indonesia
Puisi tema memperingati hari kela</p>
<%= render "problems/index" %>
