<!DOCTYPE html>
<html>
  <head>
    <title>HelpFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row header"><%= render "layouts/header" %></div>
    <div class="row">
      <div class="column aside"><%= render "layouts/aside" %></div>
      <div class="column container">
        <div class="row "><%= yield %></div>
        <div class="row footer"><%= render "layouts/footer" %></div>
      </div>
    </div>
    <%= render "layouts/header" %>
    <%= render "layouts/aside" %>
    <div class="container"><%= yield %></div>
    <%= render "layouts/footer" %>
  </body>
</html>
